doctype html
head
  meta(charset='utf-8')
  meta(name='author' content='Froilan Sam Malibiran')
  meta(name='description' content='Web and Mobile Developers PH')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(rel='shortcut icon' href='/assets/images/logo.png')
  title Web and Mobile Developers PH | Home
  // Royal Preloader CSS
  link(href='/assets/css/royal_preloader.css' rel='stylesheet')
  // jQuery Files
  script(type='text/javascript' src='/assets/js/jquery.min.js')
  // Parallax File
  script(type='text/javascript' src='/assets/js/parallax.min.js')
  // Royal Preloader
  script(type='text/javascript' src='/assets/js/royal_preloader.min.js')
  script(type='text/javascript').
    Royal_Preloader.config({
    mode:           'number',
    showProgress:   false,
    background:     '#1d1d1d'
    });
  // Stylesheets
  link(href='/assets/css/bootstrap.min.css' rel='stylesheet')
  link(href='/assets/css/ionicons.min.css' rel='stylesheet')
  link(href='/assets/css/pe-icon-7-stroke.css' rel='stylesheet')
  link(href='/assets/css/magnific-popup.css' rel='stylesheet')
  link(href='/assets/css/logoiconfont.css' rel='stylesheet')
  link(href='/assets/css/style.css' rel='stylesheet' title='main-css')
  // Style Switcher / remove for production
  link(href='/assets/css/style-switcher.css' rel='stylesheet')
  // Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above
  link(rel='alternate stylesheet' type='text/css' href='/assets/css/colors/blue.css' title='blue')
  link(rel='alternate stylesheet' type='text/css' href='/assets/css/colors/green.css' title='green')
  link(rel='alternate stylesheet' type='text/css' href='/assets/css/colors/orange.css' title='orange')
  link(rel='alternate stylesheet' type='text/css' href='/assets/css/colors/red.css' title='red')
  link(rel='alternate stylesheet' type='text/css' href='/assets/css/colors/orangelight.css' title='orangelight')
  link(rel='alternate stylesheet' type='text/css' href='/assets/css/colors/pinkish.css' title='pinkish')
  link(rel='alternate stylesheet' type='text/css' href='/assets/css/colors/seagul.css' title='seagul')
  link(rel='alternate stylesheet' type='text/css' href='/assets/css/base-light.css' title='base-light')

// Begin Header
header
  // Begin Navigation
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .row
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.scroll-link(href='#home' data-id='home')
            img(src='/assets/images/logo.png' style='width: 50px')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.scroll-link(href='#home' data-id='home') Home
            li
              a.scroll-link(href='#ideology' data-id='ideology') Ideology
            li
              a.scroll-link(href='#about' data-id='about') About
            li
              a.scroll-link(href='#services' data-id='services') Trainings
            li
              a.scroll-link(href='#work' data-id='work') Events Gallery
            li
              a.scroll-link(href='#team' data-id='team') Team
            li
              a.scroll-link(href='#contact' data-id='contact') Contact
            //
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-down"></span></a>
              <ul class="dropdown-menu">
              <li><a href="components.html">Components</a></li>
              <li><a href="pricing-options.html">Pricing Options</a></li>
              <li><a href="team-options.html">Team Options</a></li>
              <li><a href="http://aliensix.com/particles-1.4/index.html">Demos</a></li>
              <li><a href="https://wrapbootstrap.com/theme/particles-personal-agency-template-WB05N7852" target="_blank">Purchase</a></li>
              </ul>
              </li>
        // /.navbar-collapse
    // /.container-fluid
  // End Navigation
// End Header
// Begin Jumbotron
#home.jumbotron.jumbotron-main
  #particles-js
  // /.particles div
  .container.center-vertically-holder
    .center-vertically
      .col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
        h1.scaleReveal
          strong Codestack.PH
        hr.bottomReveal
        p.bottomReveal IT Solutions and Training Services
        a.scroll-link(href='#ideology' data-id='ideology')
          .scroll-indicator.rotateBottomReveal
            span.ion-mouse
            br
            span.ion-android-arrow-down.arrow-scroll-indicator
      // /.column
    // /.vertical center
  // /.container
// End Jumbotron
// Begin Intro
section#ideology
  // Begin Hello Intro
  #hello-intro.pt60.pb60
    .container
      .row
        .col-lg-2.col-sm-3
          h2.no-margin.rotateLeftReveal Hello.
        .col-lg-10.col-sm-9.mt30-xs
          h3.no-margin.rightReveal
            #introduction #{docAbout.introduction}
      // /.row
    // /.container
  // /.div
  // End Hello Intro
// /.section
// End Intro
// Begin Our Process Title
#our-process-title.pt30.pb30
  .container
    .row
      .col-lg-12.text-center
        h4.no-margin Our Ideology
    // /.row
  // /.container
// /.div
// End Our Process Title
// Begin Our Process
#our-process
  .container-fluid
    .row
      .col-sm-4.col-md-4.col-lg-4.process-box.text-center.pt50.pb50
        .leftReveal
          .process-intro
            h3.process-number 01
            div
              span.process-icons.pe-7s-rocket.rotateBottomReveal
            h2
              | Great
              br
              | Career Starter
          .process-content
            div
              span.process-icons.pe-7s-rocket
            h2.mt15.mb20
              | Great
              br
              | Career Starter
            p.no-margin
              | Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.
        // /.animation
      // /.column
      .col-sm-4.col-md-4.col-lg-4.process-box.text-center.pt50.pb50
        .bottomReveal
          .process-intro
            h3.process-number 02
            div
              span.process-icons.pe-7s-light.rotateBottomReveal
            h2
              | Straight-forward
              br
              | Knowledge
          .process-content
            div
              span.process-icons.pe-7s-light
            h2.mt15.mb20
              | Straight-forward
              br
              | Knowledge
            p.no-margin
              | Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.
        // /.animation
      // /.column
      .col-sm-4.col-md-4.col-lg-4.process-box.text-center.pt50.pb50.no-border-right
        .rightReveal
          .process-intro
            h3.process-number 03
            div
              span.process-icons.pe-7s-gleam.rotateBottomReveal
            h2
              | Fun
              br
              | Experience
          .process-content
            div
              span.process-icons.pe-7s-gleam
            h2.mt15.mb20
              | Fun
              br
              | Experience
            p.no-margin
              | Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.
        // /.animation
      // /.column
    // /.row
  // /.container
// /.div
// End Our Process

// Begin Services
section#services.background1.section-padding
  .container
    .row
      .col-xs-12.section-title.text-center
        h2 Trainings
        span.section-divider
      // /.column
    // /.row
    .row
      // Item 1
      .col-xs-12.col-sm-6.col-md-4.col-lg-4
        .services-box.leftReveal
          span.pe-7s-airplay.services-icon
          h3.service-name 1. Vue.js
          p.text-small
            | Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
          button.btn.btn-default.mt10(type='button' data-toggle='modal' data-target='#item1-services') Info
      // /.column
      // Item 1 Modal
      #item1-services.modal.fade(tabindex='-1' role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span.ion-ios-close-empty
              span.pe-7s-airplay.services-icon-2
              h4.service-title Vue.js
            .modal-body
              p
                | No, thank ye, Bunger, said the English Captain, &quot;he&apos;s welcome to the arm he has, since I can&apos;t help it, and didn&apos;t know him then; but not to another one. No more White Whales for me; I&apos;ve lowered for him once.
              h5.heading-1.modal-heading.mb20 Why us
              p
                | &quot;Well, then,&quot; interrupted Bunger, &quot;give him your left arm for bait to get the right. Do you know, gentlemen&quot;&mdash;very gravely and mathematically bowing to each Captain in succession&mdash;&quot;Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man&apos;s arm? And he knows it too.
              h5.heading-1.modal-heading.mb20 Focusing
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed.
              h5.heading-1.modal-heading.mb20 Professionals
              p.no-margin-bottom
                | &quot;Good God!&quot; cried the English Captain, to whom the question was put. &quot;What&apos;s the matter? He was heading east, I think.&mdash;Is your Captain crazy?&quot; whispering Fedallah. Phasellus pulvinar lacinia elit nec tristique.
          // /.modal-content
        // /.modal-dialog
      // /.modal
      // Item 2
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.mt30-xs
        .services-box.topReveal
          span.services-badge.badge New
          span.pe-7s-phone.services-icon
          h3.service-name 2. Ruby on rails
          p.text-small
            | Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
          button.btn.btn-default.mt10(type='button' data-toggle='modal' data-target='#item2-services') Info
      // /.column
      // Item 2 Modal
      #item2-services.modal.fade(tabindex='-1' role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span.ion-ios-close-empty
              span.pe-7s-phone.services-icon-2
              h4.service-title Ruby on rails
            .modal-body
              p
                | No, thank ye, Bunger, said the English Captain, &quot;he&apos;s welcome to the arm he has, since I can&apos;t help it, and didn&apos;t know him then; but not to another one. No more White Whales for me; I&apos;ve lowered for him once.
              h5.heading-1.modal-heading.mb20 Why us
              p
                | &quot;Well, then,&quot; interrupted Bunger, &quot;give him your left arm for bait to get the right. Do you know, gentlemen&quot;&mdash;very gravely and mathematically bowing to each Captain in succession&mdash;&quot;Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man&apos;s arm? And he knows it too.
              h5.heading-1.modal-heading.mb20 Focusing
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed.
              h5.heading-1.modal-heading.mb20 Professionals
              p.no-margin-bottom
                | &quot;Good God!&quot; cried the English Captain, to whom the question was put. &quot;What&apos;s the matter? He was heading east, I think.&mdash;Is your Captain crazy?&quot; whispering Fedallah. Phasellus pulvinar lacinia elit nec tristique.
          // /.modal-content
        // /.modal-dialog
      // /.modal
      // Item 3
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.mt30-sm.mt30-xs
        .services-box.rightReveal
          span.pe-7s-help2.services-icon
          h3.service-name 3. Quasar
          p.text-small
            | Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
          button.btn.btn-default.mt10(type='button' data-toggle='modal' data-target='#item3-services') Info
      // /.column
      // Item 3 Modal
      #item3-services.modal.fade(tabindex='-1' role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span.ion-ios-close-empty
              span.pe-7s-help2.services-icon-2
              h4.service-title Quasar
            .modal-body
              p
                | No, thank ye, Bunger, said the English Captain, &quot;he&apos;s welcome to the arm he has, since I can&apos;t help it, and didn&apos;t know him then; but not to another one. No more White Whales for me; I&apos;ve lowered for him once.
              h5.heading-1.modal-heading.mb20 Why us
              p
                | &quot;Well, then,&quot; interrupted Bunger, &quot;give him your left arm for bait to get the right. Do you know, gentlemen&quot;&mdash;very gravely and mathematically bowing to each Captain in succession&mdash;&quot;Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man&apos;s arm? And he knows it too.
              h5.heading-1.modal-heading.mb20 Focusing
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed.
              h5.heading-1.modal-heading.mb20 Professionals
              p.no-margin-bottom
                | &quot;Good God!&quot; cried the English Captain, to whom the question was put. &quot;What&apos;s the matter? He was heading east, I think.&mdash;Is your Captain crazy?&quot; whispering Fedallah. Phasellus pulvinar lacinia elit nec tristique.
          // /.modal-content
        // /.modal-dialog
      // /.modal
    // /.row
  // /.container
// /.section
// End Services
// Begin Section 4
section#iconfonts.background2(style="padding-top:10px; padding-bottom:10px;")
  br
  .container
    .row
      .col-xs-12.section-title.text-center
        h2 I Love Vue.js V1.0
        span.section-divider.mb15
        p.no-margin Join us, in Web and Mobile Developers PH
      // /.column
    // /.row
    .row.mt30
      .col-xs-12.text-center
        .col-xs-6
          img.img-responsive(src='/assets/images/sample-banner.jpg' style='height: 30%' alt='Icons')
        .col-xs-6
          h3 I Love Vue.js
          p This training is blah blah
          p.text-small.mt30 Join us today.
          button.btn.btn-primary.btn-lg Register Now!
          br
      // /.column
    // /.row
  // /.container
// /.section
// End Section 4

// Begin Section 4
section#iconfonts.background2(style="background-image:url('/assets/images/iconfonts-bg.jpg');")
  .container
    .row.mt30
      .col-sm-12
        h5.heading-1.mb15 MORE TRAININGS AND SEMINARS
        p.mb20 Clicking the images below will pop them up!
    .row
      // OTHER TRAININGS THUMBNAIL
      .leftReveal.col-sm-3
        .thumbnail.no-margin
          img(src='/assets/images/sample-banner.jpg' alt='Work')
          .caption
            h3.mb15 Training Title
            h6.mb15 January 19, 2018 - January 20, 2018
            p.text-small.mb20 From nothing to Full-Stack Developer #2DayCrashCourse
            center
              a.btn.btn-primary(href='training-details.html' role='button') View Info
      .leftReveal.col-sm-3
        .thumbnail.no-margin
          img(src='/assets/images/sample-banner.jpg' alt='Work')
          .caption
            h3.mb15 Training Title
            h6.mb15 January 19, 2018 - January 20, 2018
            p.text-small.mb20 From nothing to Full-Stack Developer #2DayCrashCourse
            center
              a.btn.btn-primary(href='training-details.html' role='button') View Info
      .leftReveal.col-sm-3
        .thumbnail.no-margin
          img(src='/assets/images/sample-banner.jpg' alt='Work')
          .caption
            h3.mb15 Training Title
            h6.mb15 January 19, 2018 - January 20, 2018
            p.text-small.mb20 From nothing to Full-Stack Developer #2DayCrashCourse
            center
              a.btn.btn-primary(href='training-details.html' role='button') View Info
      .leftReveal.col-sm-3
        .thumbnail.no-margin
          img(src='/assets/images/sample-banner.jpg' alt='Work')
          .caption
            h3.mb15 Training Title
            h6.mb15 January 19, 2018 - January 20, 2018
            p.text-small.mb20 From nothing to Full-Stack Developer #2DayCrashCourse
            center
              a.btn.btn-primary(href='training-details.html' role='button') View Info
  // /.container
// /.section
// End Section 4
// Begin Timeline
section#timeline.background2.section-padding-top
  .container
    .row
      .col-xs-12.section-title.text-center
        h2 Steps
        span.section-divider
      // /.column
    // /.row
    .row
      .col-lg-12
        ul.timeline.pb80
          // Item 1
          li
            .timeline-image.scaleReveal
              a(href='training-details.html')
                img.img-circle.img-responsive(alt='' src='/assets/images/timeline-1.jpg')
            .timeline-panel.leftReveal
              .timeline-heading
                h5.heading-1.mb15 Step 1
                h4.subheading
                  a(href='training-details.html') Choose training
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          // Item 2
          li.timeline-inverted
            .timeline-image.scaleReveal
              a(href='training-details.html')
                img.img-circle.img-responsive(alt='' src='/assets/images/timeline-2.jpg')
            .timeline-panel.rightReveal
              .timeline-heading
                h5.heading-1.mb15 Step 2
                h4.subheading
                  a(href='training-details.html') Register
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          // Item 3
          li
            .timeline-image.scaleReveal
              a(href='training-details.html')
                img.img-circle.img-responsive(alt='' src='/assets/images/timeline-3.jpg')
            .timeline-panel.leftReveal
              .timeline-heading
                h5.heading-1.mb15 Step 3
                h4.subheading Payment
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          // Item 4
          li.timeline-inverted
            .timeline-image.scaleReveal
              a(href='training-details.html')
                img.img-circle.img-responsive(alt='' src='/assets/images/timeline-4.jpg')
            .timeline-panel.rightReveal
              .timeline-heading Step 4
                h4.subheading
                  a(href='training-details.html') Learn from the greatest
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
      // /.column
    // /.row
  // /.container
// /.section
// End Timeline
// Begin Work
section#work.background2.section-padding-top
  .container-fluid
    .row
      .col-xs-12.section-title.text-center
        h2 Event Gallery
        span.section-divider.mb15
        p.mb30.scaleReveal We do awesome stuff, and yeah.
      // /.column
    // /.row
    .row
      .col-xs-12.text-center.mb50
        // Filter Buttons
        button.filter.btn.btn-default.btn-category.btn-lg(data-filter='all') All
        button.filter.btn.btn-default.btn-category.btn-lg(data-filter='.identity') I Love Vue.js v1.0
        button.filter.btn.btn-default.btn-category.btn-lg(data-filter='.print') Quasar Training
        button.filter.btn.btn-default.btn-category.btn-lg(data-filter='.graphics') Another Training
        button.filter.btn.btn-default.btn-category.btn-lg(data-filter='.web') Last Training
        // Sort Buttons
        button.sort.btn.btn-default.btn-sort.btn-lg(data-sort='my-order:asc')
          span.ion-ios-plus-empty
        button.sort.btn.btn-default.btn-sort.btn-lg(data-sort='my-order:desc')
          span.ion-ios-minus-empty
      // /.column
    // /.row
    #thework
      // Item 1
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.portfolio-box.no-padding.mix.graphics(data-my-order='3')
        .portfolio-image-holder
          img.img-responsive.portfolio-image(src='/assets/images/work/1.jpg' alt='1')
        span.portfolio-badge.badge Graphics
        span.portfolio-hover
          span
            a(href='https://dribbble.com/' target='_blank')
              span.portfolio-links
                span.ion-ios-arrow-right.portfolio-links-icons
            a.zoom(href='/assets/images/work/1.jpg' title='Equipt Design')
              span.portfolio-links
                span.ion-arrow-expand.portfolio-links-icons
            span.project-title.no-margin-bottom.mt10 Equipt Design
      // /.column
      // Item 2
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.portfolio-box.no-padding.mix.print.identity(data-my-order='6')
        .portfolio-image-holder
          img.img-responsive.portfolio-image(src='/assets/images/work/2.jpg' alt='2')
        span.portfolio-badge.badge Print + Identity
        span.portfolio-hover
          span
            a(href='https://dribbble.com/' target='_blank')
              span.portfolio-links
                span.ion-ios-arrow-right.portfolio-links-icons
            a.zoom(href='/assets/images/work/2.jpg' title="Goodman's Burger")
              span.portfolio-links
                span.ion-arrow-expand.portfolio-links-icons
            span.project-title.no-margin-bottom.mt10 Goodman&apos;s Burger
      // /.column
      // Item 3
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.portfolio-box.no-padding.mix.identity(data-my-order='4')
        .portfolio-image-holder
          img.img-responsive.portfolio-image(src='/assets/images/work/3.jpg' alt='3')
        span.portfolio-badge.badge Print
        span.portfolio-hover
          span
            a(href='https://dribbble.com/' target='_blank')
              span.portfolio-links
                span.ion-ios-arrow-right.portfolio-links-icons
            a.zoom(href='/assets/images/work/3.jpg' title='Paper Mockup')
              span.portfolio-links
                span.ion-arrow-expand.portfolio-links-icons
            span.project-title.no-margin-bottom.mt10 Paper Mockup
      // /.column
      // Item 4
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.portfolio-box.no-padding.mix.graphics(data-my-order='5')
        .portfolio-image-holder
          img.img-responsive.portfolio-image(src='/assets/images/work/4.jpg' alt='4')
        span.portfolio-badge.badge Graphics
        span.portfolio-hover
          span
            a(href='https://dribbble.com/' target='_blank')
              span.portfolio-links
                span.ion-ios-arrow-right.portfolio-links-icons
            a.zoom(href='/assets/images/work/4.jpg' title='Simple Pleasure')
              span.portfolio-links
                span.ion-arrow-expand.portfolio-links-icons
            span.project-title.no-margin-bottom.mt10 Simple Pleasure
      // /.column
      // Item 5
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.portfolio-box.no-padding.mix.print.identity(data-my-order='2')
        .portfolio-image-holder
          img.img-responsive.portfolio-image(src='/assets/images/work/5.jpg' alt='5')
        span.portfolio-badge.badge Print + Identity
        span.portfolio-hover
          span
            a(href='https://dribbble.com/' target='_blank')
              span.portfolio-links
                span.ion-ios-arrow-right.portfolio-links-icons
            a.zoom(href='/assets/images/work/5.jpg' title='Wine Bottles')
              span.portfolio-links
                span.ion-arrow-expand.portfolio-links-icons
            span.project-title.no-margin-bottom.mt10 Wine Bottles
      // /.column
      // Item 6
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.portfolio-box.no-padding.mix.web(data-my-order='1')
        .portfolio-image-holder
          img.img-responsive.portfolio-image(src='/assets/images/work/6.jpg' alt='6')
        span.portfolio-badge.badge Web
        span.portfolio-hover
          span
            a(href='https://dribbble.com/' target='_blank')
              span.portfolio-links
                span.ion-ios-arrow-right.portfolio-links-icons
            a.zoom(href='/assets/images/work/6.jpg' title='Web UI')
              span.portfolio-links
                span.ion-arrow-expand.portfolio-links-icons
            span.project-title.no-margin-bottom.mt10 Web UI
      // /.column
      // Item 7
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.portfolio-box.no-padding.mix.graphics.print(data-my-order='9')
        .portfolio-image-holder
          img.img-responsive.portfolio-image(src='/assets/images/work/7.jpg' alt='7')
        span.portfolio-badge.badge Graphics + Print
        span.portfolio-hover
          span
            a(href='https://dribbble.com/' target='_blank')
              span.portfolio-links
                span.ion-ios-arrow-right.portfolio-links-icons
            a.zoom(href='/assets/images/work/7.jpg' title='Hello World')
              span.portfolio-links
                span.ion-arrow-expand.portfolio-links-icons
            span.project-title.no-margin-bottom.mt10 Hello World
      // /.column
      // Item 8
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.portfolio-box.no-padding.mix.web(data-my-order='7')
        .portfolio-image-holder
          img.img-responsive.portfolio-image(src='/assets/images/work/8.jpg' alt='8')
        span.portfolio-badge.badge Web
        span.portfolio-hover
          span
            a(href='https://dribbble.com/' target='_blank')
              span.portfolio-links
                span.ion-ios-arrow-right.portfolio-links-icons
            a.zoom(href='/assets/images/work/8.jpg' title='We Create Mobile')
              span.portfolio-links
                span.ion-arrow-expand.portfolio-links-icons
            span.project-title.no-margin-bottom.mt10 We Create Mobile
      // /.column
      // Item 9
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.portfolio-box.no-padding.mix.web(data-my-order='8')
        .portfolio-image-holder
          img.img-responsive.portfolio-image(src='/assets/images/work/9.jpg' alt='9')
        span.portfolio-badge.badge Web
        span.portfolio-hover
          span
            a(href='https://dribbble.com/' target='_blank')
              span.portfolio-links
                span.ion-ios-arrow-right.portfolio-links-icons
            a.zoom(href='/assets/images/work/9.jpg' title='Captain da Ship')
              span.portfolio-links
                span.ion-arrow-expand.portfolio-links-icons
            span.project-title.no-margin-bottom.mt10 Captain da Ship
      // /.column
    // /.row
  // /.container
// /.section
// Begin Work
// Begin Quote Carousel
#carousel.testimonial-carousel.pt40.pb20
  .container
    .row
      .col-md-10.col-md-offset-1.text-center
        span.pe-7s-close.heading-3-icon
        h2.heading-3 Testimonials
        #quote-carousel.fade-quote-carousel.carousel.slide(data-ride='carousel' data-interval='3000')
          // Carousel indicators
          ol.carousel-indicators
            li.active(data-target='#quote-carousel' data-slide-to='0')
            li(data-target='#quote-carousel' data-slide-to='1')
            li(data-target='#quote-carousel' data-slide-to='2')
          // Carousel items
          .carousel-inner
            -if(docTestimonial)
              -for(var i = 0; i < docTestimonial.length; i++)
                -if(i == 0)
                  .active.item
                    blockquote
                      p "#{docTestimonial.testimony}"
                    p -#{docTestimonial.testifier}
                -else
                  .item
                    blockquote
                      p "#{docTestimonial.testimony}"
                    p -#{docTestimonial.testifier}
            
        // /.carousel
      // /.column
    // /.row
  // /.container
// /.carousel
// End Quote Carousel
// Begin Our Count
section#ourcount.section-padding.parallax-window.our-count(data-parallax='scroll' data-image-src='/assets/images/slider1.jpg')
  .container
    .row.mb30
      .section-title.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
        h2 The Count
        span.section-divider.mb15
        p.no-margin
          | We have spent various amounts of time on activities. Oh and we like giving free coffee as well.
      // /.column
    // /.row
    .row
      .col-sm-6.col-md-6.item.leftReveal
        .circle-hold
          i.ion-user
        h2.timer.mb5(data-from='1' data-to='145' data-refresh-interval='20') 1
        p.no-margin Trainees
      // /.column
      .col-sm-6.col-md-6-.item.mt30-xs.rightReveal
        .circle-hold
          i.ion-settings
        h2.timer.mb5(data-from='1' data-to='45' data-refresh-interval='20') 1
        p.no-margin Successful Trainings
      // /.column
    // /.row
  // /.container
// /.section
// End Our Count
// Start Profile
//
  <section id="profile" class="background2 section-padding">
  <div class="container">
  <div class="row">
  <div class="col-xs-12 section-title text-center">
  <h2>Profile</h2>
  <span class="section-divider"></span>
  </div><!-- /.column
// </div>/.row
//
  <div class="row">
  <div class="col-sm-4">
  <img alt="" src="/assets/images/team-member-1.jpg" class="img-responsive">
  <div class="profile-box">
  <ul class="list-unstyled">
  <li><strong>Name:</strong> Christen John Buenafe</li>
  <li><strong>Position:</strong> Alpha</li>
  <li><strong>Phone:</strong> (000) 1234 5678</li>
  <li><strong>Email:</strong> yourmail@gmail.com</li>
  </ul>
  </div>
  </div>
//
  <div class="col-sm-8 mt30-xs">
  <h5 class="heading-1 mb20">Intro</h5>
  <h3 class="mb15 no-margin-top">Hi, my name is Christen John Buenafe. I am the Codestack Alpha.</h3>
  <p class="text-small text-switch">No, thank ye, Bunger, said the English Captain, "he's welcome to the arm he has, since I can't help it, and didn't know him then; but not to another one. No more White Whales for me; I've lowered for him once.</p>
  <span class="divider"></span>
  <p class="text-small">"Well, then," interrupted Bunger, "give him your left arm for bait to get the right. Do you know, gentlemen"—very gravely and mathematically bowing to each Captain in succession—"Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man's arm? And he knows it too.</p>
  <h5 class="heading-1 mt20 mb20">Skills</h5>
  <div class="progress">
  <div class="progress-bar text-left" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
  Development
  </div>
  </div>
  <div class="progress">
  <div class="progress-bar text-left" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
  Design
  </div>
  </div>
  <div class="progress">
  <div class="progress-bar text-left" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
  Icon Design
  </div>
  </div>
  <div class="progress-meter">
  <div class="meter meter-left" style="width: 30%;"><span class="meter-text">Beginner</span></div>
  <div class="meter meter-left" style="width: 20%;"><span class="meter-text">Intermediate</span></div>
  <div class="meter meter-right" style="width: 20%;"><span class="meter-text">Professional</span></div>
  <div class="meter meter-right" style="width: 30%;"><span class="meter-text">Master</span></div>
  </div>
  <p class="text-small mt50 no-margin-bottom"><span class="text-switch">"Good God!"</span> cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.—Is your Captain crazy?" whispering Fedallah.</p>
  </div>
  </div>
  </section>
// End Profile
// Begin About
section#about.background1.section-padding
  .container
    .row
      .col-xs-12.section-title.text-center
        h2 About
        span.section-divider
      // /.column
    // /.row
    .row.mb15
      .col-sm-5.leftReveal
        h5.heading-1.mb20 Our Purpose
        h3.mb15.no-margin-top
          #ourPurposeTitle #{docAbout.our_purpose_title}
        p.no-margin.text-small
          #ourPurpose #{docAbout.our_purpose}
      // /.column
      .col-sm-7.mt30-xs.rightReveal
        h5.heading-1.mb20 How we started it
        span.icon-handle-streamline-vector.logo-about
        p
          #howWeStarted #{docAbout.how_we_started_it}
      // /.column
    // /.row
    .row.mb30
      .col-sm-9.leftReveal
        h5.heading-1.mb20 Mission
        p.lead.no-margin
          #mission #{docAbout.mission}
        h5.heading-1.mb20 Vision
        p.lead.no-margin
          #vision #{docAbout.vision}
      // /.column
      .col-sm-3.mt30-xs.rightReveal
        h5.heading-1.mb20 Quote
        p.no-margin.text-small
          i#quote "#{docAbout.quote}"
      // /.column
    // /.row
    .row
      .col-lg-7.col-sm-5.bottomReveal
        h5.heading-1.mb20 What Can You Get?
        .progress
          .progress-bar.text-left(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 2%;')
            | Stress
        .progress
          .progress-bar.text-left(role='progressbar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100' style='width: 1%;')
            | Worry
        .progress
          .progress-bar.text-left(role='progressbar' aria-valuenow='57' aria-valuemin='0' aria-valuemax='100' style='width: 98%;')
            | Knowledge
        .progress
          .progress-bar.text-left(role='progressbar' aria-valuenow='90' aria-valuemin='0' aria-valuemax='100' style='width: 97%;')
            | Fun
        .progress
          .progress-bar.text-left(role='progressbar' aria-valuenow='70' aria-valuemin='0' aria-valuemax='100' style='width: 98%;')
            | Everything
        .progress-meter.mb30-xs
          .meter.meter-left(style='width: 30%;')
            span.meter-text Beginner
          .meter.meter-left(style='width: 20%;')
            span.meter-text Intermediate
          .meter.meter-right(style='width: 20%;')
            span.meter-text Pro
          .meter.meter-right(style='width: 30%;')
            span.meter-text Master
      // /.column
      .col-lg-5.col-sm-7.mt10.rotateLeftReveal
        #about-carousel.basic-carousel.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#about-carousel' data-slide-to='0')
            li(data-target='#about-carousel' data-slide-to='1')
            li(data-target='#about-carousel' data-slide-to='2')
          // Wrapper for slides
          .carousel-inner(role='listbox')
            .item.active
              img.img-responsive(src='/assets/images/Banner1.jpg' alt='...')
            .item
              img.img-responsive(src='/assets/images/Banner2.jpg' alt='...')
            .item
              img.img-responsive(src='/assets/images/Banner3.jpg' alt='...')
      // /.column
    // /.row
  // /.container
// /.section
// End About
// Begin Contact
section#contact.background2.section-padding
  .container
    .row.mb30
      .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.section-title.text-center
        h2 Contact
        span.section-divider.mb15
        p.no-margin.scaleReveal We are just one call away. Contact Us.
      // /.column
    // /.row
    .row
      .col-sm-5.col-lg-4
        h5.heading-1.mb20 Visit Us
        h4#officeAddress.mb15 #{docContact.office_address}
       
        hr.mini-hr
        p.text-xs-small.mb5
          strong.text-switch Email:
          #emailAddress  #{docContact.email_address}
        p.text-xs-small.mb5
          strong.text-switch Phone:
          #mobilePhoneNumber  #{docContact.mobile_phone_number}
      // /.column
      .col-sm-6.col-lg-7.mt30-xs
        form#contactForm(data-toggle='validator' name='contactForm')
          .row
            .col-sm-6
              .form-group
                .controls
                  input#msg_subject.form-control(data-error='This section is required.' placeholder='Subject *' required='' type='text')
                  .help-block.with-errors
            // /.column
            .col-sm-6
              .form-group
                .controls
                  input#phone.form-control(placeholder='Phone' type='text')
            // /.column
          // /.row
          .row.mb10
            .col-sm-6
              .form-group
                .controls
                  input#name.form-control(data-error='This section is required.' placeholder='Your Name *' required='' type='text')
                  .help-block.with-errors
            // /.column
            .col-sm-6
              .form-group
                .controls
                  input#email.email.form-control(data-error='This section is required.' placeholder='Email *' required='' type='email')
                  .help-block.with-errors
            // /.column
          // /.row
          .row
            .col-sm-12
              .form-group
                .controls
                  textarea#message.form-control(data-error='This section is required.' placeholder='Message *' required='' rows='5')
                  .help-block.with-errors
          .row.mt15
            .col-sm-6
              #msgSubmit.h4.hidden.mt10.no-margin-bottom
            // /.column
            .col-sm-6.text-right
              button#submit.btn.btn-default.btn-lg(type='submit') Send
            // /.column
          // /.row
        // /.form
      // /.column
    // /.row
  // /.container
// /.section
// End Contact
// Begin Map
#map
// End Map
// Begin Footer
footer.footer-padding
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        span.icon-handle-streamline-vector.logo
        h2.theme-title
          | Web and Mobile Developers
          span.theme-title-smaller PH
        a(href='#')
          span.ion-social-twitter.social-icons-dark-hover.mr15
        a(href='#')
          span.ion-social-facebook.social-icons-dark-hover.mr15
        a(href='#')
          span.ion-social-googleplus-outline.social-icons-dark-hover
    .row
      .col-sm-8.col-sm-offset-2.text-small.text-center
        hr
        button.btn.btn-primary.btn-up-footer.btn-lg.scroll-top(type='button') Up
        p.no-margin &copy; Froilan and Gilber
      // /.column
    // /.row
  // /.container
// /.footer
// Begin Footer
// Javascript Files
script(type='text/javascript' src='/assets/js/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap' async='' defer='')
script(type='text/javascript' src='/assets/js/particles.min.js')
script(type='text/javascript' src='/assets/js/particlesRun.js')
script(type='text/javascript' src='/assets/js/jquery.mixitup.js')
script(type='text/javascript' src='/assets/js/form-validator.min.js')
script(type='text/javascript' src='/assets/js/jquery.inview.min.js')
script(type='text/javascript' src='/assets/js/jquery.countTo.js')
script(type='text/javascript').
  /* ---- Counter (our count) ---- */
  $('#ourcount').one('inview', function(event, isInView) {
  if (isInView) {
  $('.timer').countTo({speed: 3000});
  }
  });
script(type='text/javascript' src='/assets/js/jquery.magnific-popup.min.js')
script(type='text/javascript' src='/assets/js/scrollreveal.min.js')
script(type='text/javascript' src='/assets/js/style-switcher.js')
// Remove for production
script(type='text/javascript' src='/assets/js/main.js')
script(src='/socket.io/socket.io.js')
script.
  $(document).ready(function(){
    var hostname = `!{hostname}`
    var port = `!{port}`
    var socket = io(`http://${hostname}:${port}`);

    socket.on('aboutusClient', function(aboutusData){
      console.log(aboutusData);
      $('#howWeStarted').fadeOut(1000, function(){
        $(this).text(aboutusData.how_we_started_it).fadeIn(1000);
      })
      $('#ourPurposeTitle').fadeOut(1000, function(){
        $(this).text(aboutusData.our_purpose_title).fadeIn(1000);
      })
      $('#ourPurpose').fadeOut(1000, function(){
        $(this).text(aboutusData.our_purpose).fadeIn(1000);
      })
      $('#quote').fadeOut(1000, function(){
        $(this).text(aboutusData.quote).fadeIn(1000);
      })
      $('#mission').fadeOut(1000, function(){
        $(this).text(aboutusData.mission).fadeIn(1000);
      })
      $('#vision').fadeOut(1000, function(){
        $(this).text(aboutusData.vision).fadeIn(1000);
      })
      $('#introduction').fadeOut(1000, function(){
        $(this).text(aboutusData.introduction).fadeIn(1000);
      })

    })

    socket.on('contactusClient', function(contactusData){
      console.log(contactusData);
      $('#emailAddress').fadeOut(1000, function(){
        $(this).text(contactusData.email_address).fadeIn(1000);
      })
      $('#mobilePhoneNumber').fadeOut(1000, function(){
        $(this).text(contactusData.mobile_phone_number).fadeIn(1000);
      })
      $('#officeAddress').fadeOut(1000, function(){
        $(this).text(contactusData.office_address).fadeIn(1000);
      })
    })

    socket.on('testimonialClient', function(testimonialData){
      console.log(testimonialData);
    })
  })






script(type='text/javascript').
  /* ---- Google Maps ---- */
  function initMap() {
  var mapOptions = {
  zoom: 20,
  zoomControl: false,
  scaleControl: false,
  scrollwheel: false,
  disableDoubleClickZoom: true,
  center: new google.maps.LatLng(14.5812, 121.0524), // New York
  styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
  };
  var mapElement = document.getElementById('map');
  var map = new google.maps.Map(mapElement, mapOptions);
  var marker = new google.maps.Marker({
  position: new google.maps.LatLng(14.5812, 121.0524),
  map: map,
  title: 'Our Office!'
  });
  }

